$grid-width: 100%;
$grid-field-width: 92%;
$grid-field-height: auto;
$grid-column-height: auto;
$border-solid-wight: 0.1px;

$hours-row-border-width: 1px;
$block-row-border-width: $hours-row-border-width;

$grid-border-style: solid;

$border-solid-color: #a0a0a0;

$grid-hour-column-width: 105%;
$hour-row-height: 81px;
$block-row-height: ($hour-row-height - 1) / 2;

$event-header-width: 90%;
$event-header-height: 26px;

$main-color: rgb(216, 216, 216);

$even-row-color: #f3fbff99;
$odd-row-color: #ffffff99;
$hover-row-color: rgba(175, 255, 129, 0.6);
$selected-row-color: rgba(136, 186, 251, 0.6);
$not-allowed-row-color: rgba(255, 159, 159, 0.6);

$border-color: rgb(218, 218, 218);

.week-switcher {
    width: 100px;
}

.container {
    width: $grid-width;

    &--board-panel {

      border-bottom: 1px solid rgba(139, 139, 139, 0.5);

      padding: 5px;
      margin: 0 1%;
    }

    .board-panel {

      display: flex;
      justify-content: space-between;
      align-items: center;

      &--name {
        font-size: xx-large;
        display: inline-flex;
        font-weight: bold;
      }
    }

    &--grid {
        border-top-left-radius: 25px;
        border-top-right-radius: 25px;
        transition: 0.3s;
        width: 98%;
        margin: 5px;
        border: $grid-border-style $hours-row-border-width $border-solid-color;

        box-shadow: 0 0 5px 1px #97979799;
    }

    &--grid__compressed {
      width: 73%;
    }

    &--current-event {
      transition: 0.3s;
      position: sticky;
      top: 0;
      float: right;
      width: 24%;
      margin-right: -24%;

      &__opened {
        // width: 24%;
        margin-right: 1%;
      }
    }

    .grid {

      width: 100%;
      display: flex;

      &--time {
        width: 5%;
      }

      &--workspace {
        width: 95%;
      }
    }

    .grid-workspace {

        position: relative;

        &--blocks {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;

            display: flex;
        }

        &--events {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;

            display: flex;
        }
    }

    &--calendar-border{}

    .calendar-border {

        height: $grid-field-height;
        margin: 0 auto;

        &--week-day-names {

            display: flex;

            .offset {
                flex: 5%;
            }

            .main {
                flex: 95%;

                display: flex;
            }

            .week-day-name {
                border-left: $grid-border-style $block-row-border-width $border-solid-color;
                height: $block-row-height;
                
                display: flex;
                align-items: center;
                justify-content: center;

                padding: 5px 0;

                .grid-header--container {
                    display: flex;
                    align-items: center;
                    justify-content: flex-start;
                }

                .day {
                    display: flex;
                    padding: 5px;
                    border-radius: 50%;
                    height: 20px;
                    width: 20px;
                    justify-content: center;
                    align-items: center;


                    font-size: 20px;
                    font-weight: lighter;
                }
                .container {
                    display: inline-flex;
                    justify-content: flex-start;

                    padding-left: 5px;
                    border-left: 1px solid #a0a0a0;

                    flex-direction: column;
                }
                .day-of-week {
                    display: flex;
                    justify-content: flex-start;

                    line-height: 14px;
                    font-size: 18px;
                    font-weight: lighter;
                }
                .month {
                    display: flex;
                    justify-content: flex-start;

                    line-height: 16px;
                    font-size: 12px;
                    font-weight: lighter;
                }
            }
        }

        &--grid { }

        &--column {
          position: relative;
          width: $grid-width/5;
          text-align: center;
          float: left;
        }

        &--grid-column {
          position: relative;
          width: $grid-width/5;
          text-align: center;
          float: left;
        }
    }
  
  &--date-period, &--date-period > div {
    display: flex;
    align-items: center;
  }

  &--date-period {
    justify-content: space-between;
  }

  &--date-period > div {
    justify-content: flex-start;
  }

  &--day-column {
    width: 100%;
  }

  &--hours-block {
    display: flex;
    justify-content: center;
    align-items: center;

    position: relative;
    height: $hour-row-height;
    border-top: $grid-border-style $hours-row-border-width $border-solid-color;

    font-weight: lighter;
  }

  &--grid-block {
    position: relative;
    height: $block-row-height;
    border-top: $grid-border-style $block-row-border-width $border-solid-color;
    border-left: $grid-border-style $block-row-border-width $border-solid-color;
    user-select: none;
    

    &__even {
      background-color: $even-row-color;
    }

    &__odd {
      background-color: $odd-row-color;
    }

    &__selected {
      background-color: $selected-row-color;
    }

    &__hovered {
      background-color: $hover-row-color;
    }

    &__ondrag {
      z-index: 100;
    }

    &__not-allowed {
      background-color: $not-allowed-row-color;
    }

  }

  
}
.time-period{
  width: 30px;
  margin: 5px;
  font-size: 1.1em;
}
.period-generate-button{
  margin-left: 10px;
  width: 50px;
}
.event {
  position: absolute;
  width: 18.9%;
  overflow: hidden;
  text-align: left;
  border: $hours-row-border-width solid rgb(160, 160, 160);
  z-index: 20;

  &__dragged {
    background-color: rgb(252, 255, 217);
  }

  &--header {
    overflow: hidden;
    white-space: nowrap;
    width: $event-header-width;
    margin: 0;
    padding: 0 0 0 5px;
    font-family: Calibri;
    color: #050505;
    font-weight: bold;
    font-size: 1.2em;
  }

  &--description {
    font-family: Calibri;
    font-size: 13px;
    margin: 10px 0 0 5px;
    height: auto;
  }

  &--time-container {
    margin-left: 5px;
  }

  &--time {
    font-family: Calibri;
    font-size: 75%;
  }

  &--delete-button {
    position: absolute;
    top: 0;
    right: 0;
    height: 15px;
    width: 15px;
    background-color: $main-color;
    cursor: pointer;
  }
  &--color{
    position: absolute;
    top: 0px;
    left: 0;
    width: 20px;
  }
}

.event-resizing-tooltip {
    position: absolute;
    z-index: 2000;

    padding: 5px;
    font-size: 12px;
    background-color: #6d6d6d;
    color: #fff;
    border-radius: 5px
}

.events-container {
  width: 20%;
  height: 1px;
  position: relative;
  z-index: 50;
  float: left;
}

.date-period--week-changer{
    margin-right: 20px;
    cursor: pointer;
}

.date-period--text{
    display: inline-flex;
    justify-content: space-around;
    align-items: center;

    height: 50px;
    border-radius: 50px;

    box-shadow: 0 0 0 1px $border-color;

    font-size: 36px;

    & > div {
        margin: 0 10px;

        font-weight: lighter;
        
        display: flex;
        justify-content: flex-start;
        align-items: center;
    }
}
.calendar-border--column > .container--hours-column{
  top: 1px;
}

// styles to event-modifier
.edit-window{
  position: absolute;
  width: 80%;
  top: 10px;
  left: 7.5%;
  z-index: 102;
  background-color: #ffffff;
  padding: 10px 2.5%;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0,0,0, 0.5);

  &--container{
    position: relative;
  }

  &-container {
    &--close-button {
      position: absolute;
      right: 0;
      top: 0;
      cursor: pointer;
    }
  }

  &--background-container {
    cursor: pointer;

    &__blurred {
      top: 0;
      left: 0;
      z-index: 101;
      width: 100%;
      height: 100%;
      position: fixed;
      background-color: rgba(0, 0, 0, 0.8);
    }
  }
}
.period-block-invalid-enter {
  display: none;
  background-color: rgba(255, 30, 8, 0.1);
  border: solid 1px red;
  width: 130px;
  padding: 10px 80px 10px 80px;
  height: auto;
}

.add-icon-wrapper {

  position: fixed;
  z-index: 100;
  bottom: 0;
  right: 1%;
  margin-bottom: 20px;
  margin-right: 20px;
  transition: 0.3s;

  &__moved-to-left {
    right: 26%;
  }
  
  .add-icon {
    fill: #ffffff;
  }
}
