<div
    class="modifier modifier--container"
    (click)="closeModifier()"></div>

<div class="modifier modifier--content">
    
    <div class="content content--header">
        <div class="header--text">{{modification}} board</div>
        <div class="header--close-icon">
            <button
                mat-icon-button
                (click)="closeModifier()"
                class="container--close-button"><mat-icon>close</mat-icon>
            </button>
        </div>
    </div>

    <div class="content content--form">
        <form 
            [formGroup]="boardForm"
            class="form">

            <div class="form--item">
                <mat-form-field class="name--container">
                    <input matInput type="text" placeholder="Name" formControlName="name" />
                </mat-form-field>
            </div>

            <div class="form--item">
                <div class="is-private--container">
                    <mat-checkbox formControlName="isPrivate">Private board</mat-checkbox>
                </div>
            </div>

            <div class="form--item">
                <div class="users-group--containter">

                    <div class="users-group--name">Participants</div>

                    <div class="users--list">
                        <app-user-chip
                            *ngFor="let chip of participantChips$ | async"
                            [user]="chip.user"
                            [config]="chip.config"
                            [showModerator]="true"
                            (deleted)="deleteBoardUser(chip.user.id)"
                            (setModerator)="setModerator(chip.user, $event)"></app-user-chip>
                    </div>
                </div>
            </div>

            <div class="divider"></div>

            <div class="form--item">
                <div class="users-group--containter">
                    <div class="users-group--name">Invite</div>

                    <div class="search--container">
                        <mat-form-field class="search--input">
                            <input
                                matInput
                                type="text"
                                name="participant"
                                id="search-participant"
                                placeholder="Search user"/>
                        </mat-form-field>
    
                        <div 
                            *ngIf="isFoundUsers$ | async | equal:true"
                            class="search--result-container">
                            <div 
                                *ngFor="let user of foundUsers$ | async"
                                class="result--item"
                                (click)="addUser(user)">
                                {{user.name}}
                            </div>
                        </div>
                    </div>

                    <div class="users--list">
                        <app-user-chip 
                            *ngFor="let chip of invitedChips$ | async"
                            [user]="chip.user"
                            [config]="chip.config"
                            [showModerator]="true"
                            (deleted)="deleteBoardUser(chip.user.id)"
                            (setModerator)="setModerator(chip.user, $event)"></app-user-chip>
                    </div>
                </div>
            </div>

            <div class="form--item">
                <div class="submit--container">
                    <button
                        mat-icon-button
                        (click)="submit()"
                        class="submit--icon"><mat-icon>done</mat-icon>
                    </button>
                </div>
            </div>

        </form>
    </div>

</div>
